<style>
#chart svg {
  height: 400px;
}
#chart g.nv-scatter g.nv-series-0 path.nv-point
{
    fill-opacity: 1;
    stroke-opacity: 1;
}
#chart g.nv-series-0 path.nv-line
{
    stroke-opacity: 0;
}
</style>
<div id="chart" style="width: 80vw">
  <svg></svg>
</div>
<script type="text/javascript">
data = function() {
  var scatter = {{scatter_data | safe }},
      line = {{line_data | safe }};


  return [
    {
      values: scatter,
      key: '예상 결과',
      color: '#ff7f0e'
    },
    {
      values: line,
      key: '전체 데이터',
      color: '#2ca02c'
    }
  ];
}
nv.addGraph(function() {
  var chart = nv.models.lineChart();

  chart.xAxis
      .axisLabel('{{xlabel}}')
      .tickFormat(d3.format(',r'));

  chart.yAxis
      .axisLabel('{{ylabel}}')
      .tickFormat(d3.format(',d'));

  d3.select('#chart svg')
      .datum(data())
    .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});
</script>